.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    background: rgba(0, 0, 0, 0.0);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(152, 213, 246, 0.40), rgb(0, 43, 93, 0.40));
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 20px rgba(152, 213, 246, 0.60), 0 0 40px rgb(0, 43, 93, 0.60);
}