.collapsableSection {
    width: 100%;
    max-width: 1440px;
    padding: 20px 40px;
    background-color: var(--background-blue);
    border: 1px solid var(--border-blue);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 60px;
    color: white;
    transition: 0.3s ease-in-out;
}

.header:hover, .header:hover button {
    color: var(--primary-blue);
}

.header button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
}

.content {
    overflow: hidden;
    transition: 0.3s ease;
    max-height: 0;
    transition: max-height 0.3s linear, opacity 0.3s linear;
    transform-origin: top;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.open {
    max-height: 2000px;
    opacity: 1;
}

.closed {
    max-height: 0;
    opacity: 0;
}

.rotate0 {
    transform: rotate(0deg);
}

.rotate180 {
    transform: rotate(180deg);
}