/* Overlay container to position the lights */
.animation-overlay {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Flashing lights */
.flashing-light {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 208, 255);
    border-radius: 50%;
    animation: flash 3s ease-in-out;
}

/* Flashing animation */
@keyframes flash {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Zipping light */
.zipping-light-right {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(0, 208, 255);
    animation: zipRight 4s linear infinite;
}

.zipping-light-left {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(0, 208, 255);
    animation: zipLeft 4s linear infinite;
}

/* Zipping animation */
@keyframes zipRight {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(100vw) translateY(50vh);
    }
    100% {
        transform: translateX(0) translateY(100vh);
    }
}

@keyframes zipLeft {
    0% {
        transform: translateX(40vw) translateY(60vh);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        transform: translateX(-100vw) translateY(-50vh);
    }
    100% {
        transform: translateX(0) translateY(-100vh);
    }
}