.mission {
    position: absolute;
    background: none;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission:hover {
    cursor: pointer;
  }

.mission:hover p {
    background-color: rgba(1, 26, 55, 0.8);
}

.mission p {
    border: 1px solid rgb(0, 43, 93);
    background-color: rgba(1, 26, 55, 0.4);
    font-weight: bold;
    padding: 10px;
    transition: 0.3s ease-in;
}

.pin {
    width: 2vw;
    height: 2vw;
    min-width: 30px;
    min-height: 30px;
    background-color: rgb(152, 213, 246);
    border: 2px solid rgb(0, 43, 93);
    border-radius: 50%;
    transform: translate(0, -50%);
  }
  
  .pin::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2vw;
    height: 2vw;
    min-width: 30px;
    min-height: 30px;
    background-color: rgb(152, 213, 246);
    border-radius: 50%;
    transform: translate(0, -50%);
    animation: pulse 2s infinite;
    opacity: 0;
  }
  
  .pin:active {
    transform: translate(0, -50%) scale(0.9);
  }
  
  
  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    50% {
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
    }
  }