@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-blue: rgba(11, 168, 168, 0.741);
}

/* Text Styles*/

html {
    font-family: 'Roboto';
    font-size: 18px;
    scroll-behavior: smooth;
}

h3 {
    padding: 10px 0;
}


/* Nav bar */
header {
    position: fixed;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
    height: 8vh;
    border-bottom: 2px solid var(--main-blue);
    overflow: hidden;
    padding: 0 20px;
}

nav a {
    background-color: black;
    color: white;
    padding: 10px;
    transition: 0.2s linear;
    text-decoration: none;
    letter-spacing: 0.2rem;
}

nav a:hover {
    color: var(--main-blue);
    cursor: pointer;
}


/* Global */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin-top: 50px;
}

span {
    width: 100%;
    height: 5vh;
    background-color: black;
    border-top: 3px solid var(--main-blue);
    border-bottom: 3px solid var(--main-blue);
}

/* Hero Section*/

.hero {
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background-color: black;
    background-image: url("../Images/Background-medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    z-index: 1;
    padding: 20px;
    letter-spacing: 0.7rem;
}

#canvas {
    opacity: 0.75;
}

/* About Section */ 

.about-me {
    width: 80%;
}

.attributes,
.current,
.profile,
.working {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.attribute {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    text-align: center;
    align-items: center;
}

.attribute p {
    margin: 0 auto;
    width: 90%;
    font-size: 0.8rem;
}

.working {
    justify-content: center;
}

.profile {
    justify-content: space-between;
    width: 100%;
}

.me {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
}

.me p {
    text-align: center;
    font-size: 0.8rem;
}

.profile-pic {
    color: white;
    transition: 0.2s linear;
    position: relative;
  }
  
.profile-pic img {
    object-fit: cover;
    height: 100%;
}

/*skills*/

.skills {
    width: 60%;
}

.skills img {
    width: 50px;
}

.html img {
    width: 35px;
    left: 8px;
    position: relative;
}

.html .stars {
    position: relative;
    right: 9px;
}

.stars img {
    width: 25px;
}

.skill {
    display: grid;
    grid-template: 60px/ 30% 20% 50%;
    gap: 20px;
    align-items: center;
}

/*currnet*/
.current {
    padding: 0 0 50px 0;
    text-align: center;
    gap: 0px;
}

/*Portfolio*/

.portfolio {
    gap: 10px;
    width: 80%;
    text-align: left;
}

.portfolio-piece {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-content: center;
}

.visual img {
    width: 100%;
    object-fit: cover;
}

.description {
    padding: 10px 20px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tech {
    display: flex;
    align-items: center;
}

.tech img {
    width: 40px;
}


/* Components */
/* Button */

.main-btn {
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    font-weight: 700;
    letter-spacing: 0.4rem;
    transition: 0.2s linear;
    font-size: 1rem;
}

.main-btn:hover {
    cursor: pointer;
    border: 3px solid black;
    background-color: white;
    color: black;
}

.second-btn {
    padding: 20px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    font-weight: 700;
    letter-spacing: 0.2rem;
    transition: 0.2s linear;
    font-size: 1rem;
    border: 3px solid black;
}

.second-btn:hover {
    cursor: pointer;
    background-color: var(--main-blue);
    color: black;
    border: 3px solid var(--main-blue);
}

/*Hexagon*/

.hexagon {
    height: 100px;
    width: 60px;
    background: var(--main-blue);
    position:relative;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    color: white;
}
.hexagon::before, .hexagon::after {
    content:"";
    position: absolute;
    height: 0;
    width: 0; 
    top:0;
    /* half height */
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
}
.hexagon::before {
    left: -30px;
    border-right:30px solid var(--main-blue); 
}
.hexagon::after {
    right:-30px;
    border-left:30px solid var(--main-blue); 
}

/*CARDS*/

.card {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    color: white;
    transition: 0.2s linear;
    position: relative;
}

.info:hover {
    opacity: 1;
}

.info {
    padding: 10%;
    display: grid;
    place-items: center;
    background-color: rgba(11, 168, 168, 0.712);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.2s linear;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p {
    font-size: 0.8rem;
}

.group {
    width: 33%;
}

/*Mobile menu*/
#mobile-menu {
    display: none;
}

#mobile-nav {
    position: fixed;
    height: 100vh;
    z-index: 99;
    width: 100%;
    display: none;
    place-items: center;
    background-color: black;
}

.mobile {
    display: grid;
    place-items: center;
    gap: 10%;
}

/*Tablet and below settings*/
@media only screen and (max-width: 768px){

    /*Global*/

    /*Nav Menu*/
    #mobile-menu {
        display: block;
    }

    #desktop-nav {
        display: none;
    }

    /*about section*/
    .attributes {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .attribute {
        display: grid;
        grid-template: 1fr / 1fr 3fr;
        gap: 40px;
        width: 100%;
        text-align: left;
    }

    .attribute p {
        width: fit-content;
    }

    .profile {
        flex-direction: column;
    }
    
    .me {
        width: 100%;
        padding: 0;
    }
    
    .profile-pic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        color: white;
        transition: 0.2s linear;
    }

    .profile-pic img {
        object-fit: cover;
        height: 100%;
    }

    .info {
        padding: 2%;
        place-items: center;
        opacity: 1;
        width: 100%;
        transition: 0.2s linear;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        background-color: white;
        color: black;
    }

    .skills {
        width: 100%;
    }

    /*What am i working on*/
    .current {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .working {
        display: block;
    }

    .group {
        width: 80%;
        border-bottom: 2px solid black;
    }

    .card {
        height: fit-content;
    }

    /*Portfolio section*/
    .portfolio-piece {
        grid-template: 1fr 0fr / 1fr;
        border-bottom: 2px black solid;
    }

    .portfolio {
        gap: 40px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 426px){

    .portfolio {
        width: 100%;
    }
}