* {
  box-sizing: border-box;
}


body {
  font-family: 'inter';
}

.hero {
  height: 90vh;
  background-image: url("../Images/Hero-background.jpg");
  background-size: cover;
  background-position: center;
}

.spaced {
  letter-spacing: 0.4rem;
}

.copy {
  font-size: 0.8rem;
}

.star {
  width: 18%;
}