:root {
  --primary-blue: rgb(152, 213, 246);
  --border-blue: rgb(0, 43, 93);
  --background-blue: rgba(1, 26, 55, 0.4);
  --modal-overlay: rgba(0, 0, 0, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Monospace ,Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-offset {
  padding-top: 350px;
}

.display-none {
  display: none;
}