.briefing {
    position: absolute;
    top: 100px;
    left: 20px;
    min-height: 200px;
    width: calc(100% - 60px);
    display: flex;
    padding: 20px;
    gap: 40px;
    border: 1px solid rgb(0, 43, 93);
    background-color: rgba(1, 26, 55, 0.4);
    z-index: 10;
    animation: fadeIn 0.3s ease-in-out;
}

.briefingHeader button {
    display: none;
}

.profilePic {
    width: 158px;
    max-height: 158px;
}

.briefingContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

@media (max-width: 640px) {
    .briefing {
        top: 10%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        background-color: rgba(1, 26, 55, 0.7);
        gap: 40px;
    }

    .briefingHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    

    .profilePic {
        width: 158px;
        max-height: 158px;
    }

    .briefingOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        animation: fadeIn 0.3s ease-in-out;
      }
      .briefingHeader button {
        width: 60px;
        height: 60px;
        display: inline;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}